################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/OpusCLI/obj
/WolvenKit/test/obj
/**/__pycache__
