################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/OpusCLI/obj
/WolvenKit/test/obj
/**/__pycache__
/i_scene_cp77_gltf.zip
/temp_stuff.py
i_scene_cp77_gltf/.vs/i_scene_cp77_gltf/v17/.wsuo
i_scene_cp77_gltf/.vs/slnx.sqlite
i_scene_cp77_gltf/.vs/i_scene_cp77_gltf/v17/TestStore/0/000.testlog
i_scene_cp77_gltf (2).zip
profile.json
