################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/OpusCLI/obj
/WolvenKit/test/obj
/**/__pycache__
/i_scene_cp77_gltf.zip
/temp_stuff.py
